/* ############################################################### */
/* Fonts block start */
/* ############################################################### */

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ############################################################### */
/* Fonts block end */
/* ############################################################### */

/* ############################################################### */
/* Reset block end */
/* ############################################################### */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* ############################################################### */
/* Reset block end */
/* ############################################################### */

/* ############################################################### */
/* Main blocks start */
/* ############################################################### */

html,
body {
    height: 100%;
}

body {
    line-height: 1.3;
    font-family: 'Inter', serif;
    font-size: 16px;
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.second__title {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* ############################################################### */
/* Main blocks end */
/* ############################################################### */

/* ############################################################### */
/* Header block start */
/* ############################################################### */

.header__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.header {
    background-color: #151515;
}

.header-main {
    background-color: transparent;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}

.header__menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.header__menu-item-link {
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}


/* ############################################################### */
/* Header block end */
/* ############################################################### */

/* ############################################################### */
/* Footer block start */
/* ############################################################### */


.footer {
    background-color: #151515;
    padding: 50px 0 32px;
    color: white;
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.footer__menu-title {
    font-weight: 700;
    font-size: 24px;
    color: white;
    padding-bottom: 20px;
}

.footer__menu-list {
    max-width: 250px;
}

.footer__menu-item-link {
    color: white;
}

.footer__menu-item + .footer__menu-item {
    /*padding-top: 20px;*/
}

.footer__menu-item {
    padding-top: 20px;
}

.footer__menu-item:first-child {
    padding-top: 0;
}

.footer__apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
}

.footer__copy {
    max-width: 806px;
    margin: 0 auto 30px;
    text-align: center;
}

.footer__copy-text {
    font-size: 12px;
    line-height: 15px;
}

.footer__copy-nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.footer__copy-nav-item-link {
    color: white;
}

/* ############################################################### */
/* Footer block end */
/* ############################################################### */

/* ############################################################### */
/* Top block start */
/* ############################################################### */

.top {
    color: white;
    padding-top: 250px;
    padding-bottom: 50px;
    text-align: center;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;

}

.title {
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}

.top__title-link {
    background-color: #151515;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    color: white;
}

.swiper::after {
    content: '';
    background: rgba(21, 21, 21, .3);
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}


.swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.swiper-pagination-bullet {
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
    /*margin: 0 15px !important;*/
}

.swiper-pagination-bullet-active {
    height: 6px;
    background-color: white;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 15px;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 38px;
}

/* ############################################################### */
/* Top block end */
/* ############################################################### */


/* ############################################################### */
/* Benefits block start */
/* ############################################################### */

.benefits {
    padding: 150px 0;
}

.benefits__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}

.benefits__item-img {
    margin-bottom: 30px;
}

.benefits__item-title {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

.benefits__item-text {
    text-align: left;
}

/* ############################################################### */
/* Benefits block end */
/* ############################################################### */


/* ############################################################### */
/* Workflow block start */
/* ############################################################### */

.workflow {
    padding-bottom: 150px;
}

.workflow__inner {
    max-width: 600px;
    margin: 0 auto;
}

.workflow__mini-title {
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
}

.workflow__list {
    padding: 50px 0 70px;
    counter-reset: Counter;
}

.workflow__list-item {
    width: 270px;
    position: relative;
    margin-left: auto;
    box-sizing: content-box;
    padding: 19px 0 19px 240px;
    min-height: 63px;
}

.workflow__list-item + .workflow__list-item {
    margin-top: 40px;
}

.workflow__list-item::before {
    counter-increment: Counter;
    content: counter(Counter);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    background-color: #0066FF;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 0;
    top: 0;
    color: white;

}

/* ############################################################### */
/* Workflow block end */
/* ############################################################### */
